[Unit]
Description=Darts-caller - Autodarts Bridge
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/darts-caller
ExecStart=/usr/bin/python3 /home/pi/darts-caller/darts-caller.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
